<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmamiyaEditer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AmamiyaEditer.Properties.Settings>
            <setting name="_backcolor" serializeAs="String">
                <value>153, 180, 203</value>
            </setting>
            <setting name="_textboxcolor" serializeAs="String">
                <value>191, 205, 219</value>
            </setting>
            <setting name="_forecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="_font" serializeAs="String">
                <value>Microsoft YaHei, 42pt</value>
            </setting>
            <setting name="_size" serializeAs="String">
                <value>863, 599</value>
            </setting>
            <setting name="_istextforce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_location" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </AmamiyaEditer.Properties.Settings>
    </userSettings>
</configuration>